html{
    height: 700vh;
}
body{
    background-color:rgb(64, 34, 4);
}
.items {
    display: flex;
    flex-wrap: wrap;                  /* Permite que os itens se ajustem em várias linhas */
    justify-content: center;          /* Alinha os itens no centro horizontalmente */
    gap: 20px;                        /* Espaço maior entre os itens em telas grandes */
    width: 100%;                      /* Ocupa toda a largura disponível */
    padding: 30px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;           /* Alinha o conteúdo verticalmente */
    align-items: center;              /* Centraliza o conteúdo dentro do item */
    justify-content: center;          /* Centraliza o conteúdo verticalmente */
    width: 1000px;                      /* Largura de cada item ocupa 100% da largura disponível */
    max-width: none;
    min-width: 100px;                 /* Limita a largura máxima para um valor maior */
    height: auto;                     /* Altura ajustável para se adaptar ao conteúdo */
    box-sizing: border-box;           /* Inclui o padding e a borda no cálculo da largura e altura */
    border-radius: 10px;              /* Bordas arredondadas */
    padding: 20px;                    /* Espaçamento interno maior */
    text-align: center;               /* Centraliza o texto dentro do item */
}
